[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
requests = "*"
flask = "*"
appium-python-client = "==2.7.1"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.6"
